*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    background-color:  #1c2022;
    font-family:'Heebo', sans-serif;
}
img{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    border: 1px solid ;
    border-radius: 5px;
    max-width: 800px;
    margin: 100px auto;
}
.picture img{
    width: 100%;
    height: 100%;
}
.picture{
    height: inherit;
    width: 100%;
}
.picture img{
    /* background-image: url(images/image-header-desktop.jpg); */
    /* background-position: center; */
    filter: opacity(0.6) drop-shadow(0 0 blue);
}
.text{
    padding: 40px;
    width: 100%;
    background-color:#041A40;
}
.text h1,p{
    color: #fff;
}
.text h1{
    margin-bottom: 10px;
}
.second h1 {
    margin: 0;
}
.text .first p{
    line-height: 30px;
}
span{
    color: mediumslateblue;
}
#h1{
    margin: 0;
}
.second{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
@media screen  and (max-width:835px)   {
    .container{
        display: flex;
        flex-wrap: wrap-reverse;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .second{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .picture img{
        width: 100%;
        /* height: 100%; */
    }
}